# Import library

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Load Dataset

In [12]:
df = pd.read_csv("../../src/data/city_growth_models/africa_built_up_area.csv",encoding='latin-1')

In [13]:
df

,COU,Country,MEAS,Measure,Large subnational region,Small subnational region,VAR,Variable,Year,Unit Code,Unit,Value
0,DZA,Algeria,SQKM,Square kilometers,Total,Total,BUILT_UP_BEFORE,Area built-up before,1975,KM2,Square kilometres,899.211600
1,DZA,Algeria,SQKM,Square kilometers,Total,Total,BUILT_UP_BEFORE,Area built-up before,1990,KM2,Square kilometres,1713.512700
2,DZA,Algeria,SQKM,Square kilometers,Total,Total,BUILT_UP_BEFORE,Area built-up before,2000,KM2,Square kilometres,2326.863600
3,DZA,Algeria,SQKM,Square kilometers,Total,Total,BUILT_UP_BEFORE,Area built-up before,2014,KM2,Square kilometres,2761.221600
4,DZA,Algeria,SQKM,Square kilometers,Total,Total,BUILT_UP_SINCE_1990,Built-up since 1990,2000,KM2,Square kilometres,613.350900
...,...,...,...,...,...,...,...,...,...,...,...,...
859,ZMB,Zambia,PCNT,Percent of total land area,Total,Total,BUILT_UP_SINCE_2000,Built-up since 2000,2014,PC,Percentage,0.011596
860,ZWE,Zimbabwe,PCNT,Percent of total land area,Total,Total,BUILT_UP_SINCE_2000,Built-up since 2000,2014,PC,Percentage,0.014955
861,SSD,South Sudan,SQKM,Square kilometers,Total,Total,BUILT_UP_SINCE_1990,Built-up since 1990,2000,KM2,Square kilometres,20.505600
862,SSD,South Sudan,SQKM,Square kilometers,Total,Total,BUILT_UP_SINCE_1990,Built-up since 1990,2014,KM2,Square kilometres,44.336700
863,SSD,South Sudan,PCNT,Percent of total land area,Total,Total,BUILT_UP_SINCE_2000,Built-up since 2000,2014,PC,Percentage,0.003762

In [14]:
df.columns

Index(['COU', 'Country', 'MEAS', 'Measure', 'Large subnational region',
       'Small subnational region', 'VAR', 'Variable', 'Year', 'Unit Code',
       'Unit', 'Value'],
      dtype='object')

In [15]:
df.shape

(864, 12)

In [16]:
df1 = df.copy()

# COU, MEANS, VAR, Unit Code, Unit, which are all columns dropped.

In [17]:
df1.drop(['COU','MEAS','VAR', 'Unit Code', 'Unit'], axis = 1, inplace = True)

In [18]:
df1

,Country,Measure,Large subnational region,Small subnational region,Variable,Year,Value
0,Algeria,Square kilometers,Total,Total,Area built-up before,1975,899.211600
1,Algeria,Square kilometers,Total,Total,Area built-up before,1990,1713.512700
2,Algeria,Square kilometers,Total,Total,Area built-up before,2000,2326.863600
3,Algeria,Square kilometers,Total,Total,Area built-up before,2014,2761.221600
4,Algeria,Square kilometers,Total,Total,Built-up since 1990,2000,613.350900
...,...,...,...,...,...,...,...
859,Zambia,Percent of total land area,Total,Total,Built-up since 2000,2014,0.011596
860,Zimbabwe,Percent of total land area,Total,Total,Built-up since 2000,2014,0.014955
861,South Sudan,Square kilometers,Total,Total,Built-up since 1990,2000,20.505600
862,South Sudan,Square kilometers,Total,Total,Built-up since 1990,2014,44.336700
863,South Sudan,Percent of total land area,Total,Total,Built-up since 2000,2014,0.003762

In [19]:
df1.isnull().sum()

Country                     0
Measure                     0
Large subnational region    0
Small subnational region    0
Variable                    0
Year                        0
Value                       0
dtype: int64

In [20]:
df1.isna().sum()

Country                     0
Measure                     0
Large subnational region    0
Small subnational region    0
Variable                    0
Year                        0
Value                       0
dtype: int64

# No Null and Na Values

In [21]:
df1.duplicated().sum()

0

# No duplicate values

In [22]:
df1.head()

,Country,Measure,Large subnational region,Small subnational region,Variable,Year,Value
0,Algeria,Square kilometers,Total,Total,Area built-up before,1975,899.2116
1,Algeria,Square kilometers,Total,Total,Area built-up before,1990,1713.5127
2,Algeria,Square kilometers,Total,Total,Area built-up before,2000,2326.8636
3,Algeria,Square kilometers,Total,Total,Area built-up before,2014,2761.2216
4,Algeria,Square kilometers,Total,Total,Built-up since 1990,2000,613.3509

In [23]:
df1.describe()

              Year        Value
count   864.000000   864.000000
mean   1999.625000   191.215405
std      13.292437   628.893721
min    1975.000000     0.000000
25%    1990.000000     0.045735
50%    2000.000000     0.738582
75%    2014.000000   112.754025
max    2014.000000  7364.035800

In [24]:
df1.Country.unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cameroon', 'Cabo Verde', 'Central African Republic',
       'Chad', 'Comoros', 'Congo', "CÃ´te d'Ivoire",
       'Democratic Republic of the Congo', 'Djibouti', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Somalia', 'South Africa', 'Sudan', 'Eswatini', 'Tanzania', 'Togo',
       'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe', 'South Sudan '],
      dtype=object)

In [25]:
df1.dtypes

Country                      object
Measure                      object
Large subnational region     object
Small subnational region     object
Variable                     object
Year                          int64
Value                       float64
dtype: object

In [26]:
df1.Variable.value_counts()

Area built-up before    432
Built-up since 1990     216
Built-up since 2000     108
Built-up since 1975     108
Name: Variable, dtype: int64

In [27]:
df1.Year.unique()

array([1975, 1990, 2000, 2014], dtype=int64)

In [ ]:
df1.to_csv('../../task 2 data preprocessing/processedData/africa_built_up_area_processed.csv',index=False)

In [28]:
#df1[['Country','Variable', 'Year']].groupby(['Country','Variable','Year']).size().reset_index()

In [29]:
#sns.distplot(df1['Year'])

In [30]:
# plt.figure(figsize=(15,15))
# sns.barplot(x='Value',y='Country',data=df1, hue = "Variable")

# Convert to categorical to numeric

In [31]:
# df1.columns

In [32]:
# df2 = df1[['Country', 'Measure', 'Large subnational region',
#        'Small subnational region', 'Variable']]
# df2.head()

In [33]:
# df3=df1[['Year', 'Value']]
# df3.head()

In [34]:
# from sklearn import preprocessing
# le = preprocessing.LabelEncoder()
# df2=df2.apply(le.fit_transform)
# df2.head()

In [35]:
# df4=pd.concat([df2,df3], axis = 1)
# df4.head()