In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("../../src/data/city_growth_models/cameroon population change % 2000-2016.csv")

In [7]:
df.head()

     Entity Code  Year  Urban population (%)
0  Cameroon  CMR  2000                 45.542
1  Cameroon  CMR  2001                 46.139
2  Cameroon  CMR  2002                 46.738
3  Cameroon  CMR  2003                 47.338
4  Cameroon  CMR  2004                 47.940

In [8]:
df.shape

(17, 4)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Entity                 17 non-null     object
 1   Code                   17 non-null     object
 2   Year                   17 non-null     int64
 3   Urban population (%)   17 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 672.0+ bytes

In [10]:
df.describe()

              Year  Urban population (%)
count    17.000000              17.000000
mean   2008.000000              50.354647
std       5.049752               3.044670
min    2000.000000              45.542000
25%    2004.000000              47.940000
50%    2008.000000              50.350000
75%    2012.000000              52.769000
max    2016.000000              55.179000

In [11]:
df.duplicated().sum()

0

In [12]:
df.isnull().mean()

Entity                   0.0
Code                     0.0
Year                     0.0
Urban population (%)     0.0
dtype: float64

### Drop

In [13]:
df.Entity.value_counts()

Cameroon    17
Name: Entity, dtype: int64

In [14]:
df = df.drop(columns=['Code','Entity'],axis=1)

In [15]:
df.head()

   Year  Urban population (%)
0  2000                 45.542
1  2001                 46.139
2  2002                 46.738
3  2003                 47.338
4  2004                 47.940

In that case, i drop entity and code because we dont need entity and in that dataset, there is only one entity.

### Change column name

In [16]:
df['Urban population (%) ']

0     45.542
1     46.139
2     46.738
3     47.338
4     47.940
5     48.541
6     49.143
7     49.746
8     50.350
9     50.954
10    51.559
11    52.164
12    52.769
13    53.373
14    53.976
15    54.578
16    55.179
Name: Urban population (%) , dtype: float64

In [17]:
df =  df.rename(columns={'Urban population (%) ':'Urban population (%)'})

In [18]:
df['Urban population (%)']

0     45.542
1     46.139
2     46.738
3     47.338
4     47.940
5     48.541
6     49.143
7     49.746
8     50.350
9     50.954
10    51.559
11    52.164
12    52.769
13    53.373
14    53.976
15    54.578
16    55.179
Name: Urban population (%), dtype: float64

In [19]:
df['Country'] = 'Cameroon'

In [20]:
df

    Year  Urban population (%)   Country
0   2000                45.542  Cameroon
1   2001                46.139  Cameroon
2   2002                46.738  Cameroon
3   2003                47.338  Cameroon
4   2004                47.940  Cameroon
5   2005                48.541  Cameroon
6   2006                49.143  Cameroon
7   2007                49.746  Cameroon
8   2008                50.350  Cameroon
9   2009                50.954  Cameroon
10  2010                51.559  Cameroon
11  2011                52.164  Cameroon
12  2012                52.769  Cameroon
13  2013                53.373  Cameroon
14  2014                53.976  Cameroon
15  2015                54.578  Cameroon
16  2016                55.179  Cameroon

In [ ]:
df.to_csv('../../task 2 data preprocessing/processedData/cameroon population change % 2000-2016_processed.csv',index=False)