In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("../../src/data/city_growth_models/country_agriculture_land_use_1970-2022.csv")

In [6]:
df.head(20)

,Unnamed: 0,Country,Category,Indicator,Unit,1970,1971,1972,1973,1974,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 57
0,208,Algeria,AGRICULTURE,Agricultural Area (in Thousands),Hectares,44216.0000,45433.0000,45396.0000,44304.0000,44336.0000,...,41431.0000,41456.4000,41360.2000,41335.1409,41358.8470,41358.8470,41358.8470,,,NaN
1,209,Algeria,AGRICULTURE,"Agricultural Area, % of Land Area",Percent,18.5646,19.0756,19.0600,18.6015,18.6150,...,17.3953,17.4059,17.3655,17.3550,17.3650,17.3650,17.3650,,,NaN
2,210,Algeria,AGRICULTURE,"Agricultural Area, per Rural Population",Hectares,5.2975,5.3366,5.2250,4.9935,4.8896,...,3.5895,3.5963,3.5924,3.5953,3.6040,3.6122,3.6237,,,NaN
3,211,Algeria,AGRICULTURE,"Agricultural Products, Exports (in Thousands)",USD,199067.0000,107658.0000,124460.0000,229329.0000,168259.0000,...,378464.9200,284414.4700,381790.5500,431298.5400,300257.1200,405076.9200,487941.4000,522287.3600,,NaN
4,212,Algeria,AGRICULTURE,"Agricultural Products, Exports, % of Total",Percent,11.8630,14.5094,17.2844,13.6641,17.2224,...,17.1505,16.4134,15.8835,16.7616,16.5204,17.7012,22.9291,,,NaN
5,213,Algeria,AGRICULTURE,"Agricultural Products, Imports (in Thousands)",USD,168749.0000,204519.0000,299880.0000,377482.0000,808416.0000,...,11707334.6600,9950022.5800,8910182.6100,9320009.0100,9305724.8100,8856362.2800,9256868.9200,10565001.8400,,NaN
6,214,Algeria,AGRICULTURE,"Agricultural Products, Imports, % of Total",Percent,30318.0000,-96861.0000,-175420.0000,-148153.0000,-640157.0000,...,-11328869.7400,-9665608.1100,-8528392.0600,-8888710.4700,-9005467.6900,-8451285.3600,-8768927.5200,-10042714.4800,,NaN
7,215,Algeria,AGRICULTURE,"Agricultural Products, Net Exports (in Thousands)",USD,17.4500,10.9127,8.5227,9.7821,3.2940,...,0.5858,0.7395,1.1430,1.1203,0.6638,1.0383,1.8693,,,NaN
8,216,Algeria,AGRICULTURE,Aquatic Species Caught,Tonnes,24234.0000,23715.0000,28313.0000,31243.0000,35758.0000,...,100163.0410,97131.1800,101964.4700,108342.6050,120166.4160,105388.5500,86901.0600,,,NaN
9,217,Algeria,AGRICULTURE,Arable Land Area (in Thousands),Hectares,6248.0000,6380.0000,6510.0000,6512.0000,6544.0000,...,7469.4000,7462.1000,7404.2000,7470.8071,7505.0170,7505.0170,7505.0170,,,NaN
10,218,Algeria,AGRICULTURE,"Arable Land Area, % of Agricultural Area",Percent,14.1306,14.0427,14.3405,14.6984,14.7600,...,18.0285,17.9999,17.9018,18.0737,18.1461,18.1461,18.1461,,,NaN
11,219,Algeria,AGRICULTURE,"Arable Land Area, % of Land Area",Percent,2.6233,2.6787,2.7333,2.7341,2.7476,...,3.1361,3.1330,3.1087,3.1367,3.1511,3.1511,3.1511,,,NaN
12,220,Algeria,AGRICULTURE,"Arable Land Area, per Rural Population",Hectares,0.7486,0.7494,0.7493,0.7340,0.7217,...,0.6471,0.6473,0.6431,0.6498,0.6540,0.6555,0.6576,,,NaN
13,221,Algeria,AGRICULTURE,"Barley, Area Harvested",Hectares,854790.0000,728160.0000,948260.0000,785610.0000,690200.0000,...,791843.0000,802336.0000,1236204.0000,1303149.0000,1080250.0000,1133005.0000,978114.0000,525631.0000,,NaN
14,222,Algeria,AGRICULTURE,"Barley, Production",Tonnes,571438.0000,371768.0000,643995.0000,373869.0000,331422.0000,...,939401.0000,1030556.0000,919907.0000,969696.0000,1957327.0700,1647746.0000,1213137.0000,555364.0000,,NaN
15,223,Algeria,AGRICULTURE,"Barley, Production, per Person",Kg,41.4206,26.3478,44.5980,25.2853,21.8703,...,24.2364,26.0617,22.8044,23.5724,46.6842,38.5844,27.9190,12.5711,,NaN
16,224,Algeria,AGRICULTURE,"Barley, Yield, per Hectare",Hg,6685.1273,5105.5812,6791.3336,4758.9644,4801.8256,...,11863.4755,12844.4442,7441.3851,7441.1752,18119.2045,14543.1485,12402.8181,10565.6630,,NaN
17,225,Algeria,AGRICULTURE,"Cereals, Area Harvested",Hectares,3228170.0000,2952400.0000,3517530.0000,3232850.0000,2973050.0000,...,2509193.0000,2686241.0000,3376449.0000,3512157.0000,3107770.0000,3187483.0000,2889579.0000,1941863.0000,,NaN
18,226,Algeria,AGRICULTURE,"Cereals, Production",Tonnes,2058094.0000,1735448.0000,2362625.0000,1595994.0000,1480275.0000,...,3435535.0000,3761229.6000,3445227.3700,3478175.1400,6066252.8200,5633596.7800,4393336.7500,2784017.2900,,NaN
19,227,Algeria,AGRICULTURE,"Cereals, Production, per Person",Kg,149.1805,122.9942,163.6167,107.9395,97.6821,...,88.6361,95.1175,85.4069,84.5510,144.6861,131.9189,101.1078,63.0182,,NaN

In [7]:
df = df.drop(['Unnamed: 0', 'Category', 'Unnamed: 57', 'Unit'], axis=1)

In [8]:
df.head(10)

,Country,Indicator,1970,1971,1972,1973,1974,1975,1976,1977,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Algeria,Agricultural Area (in Thousands),44216.0000,45433.0000,45396.0000,44304.0000,44336.0000,43753.0000,44021.0000,43832.0000,...,41431.6350,41431.0000,41456.4000,41360.2000,41335.1409,41358.8470,41358.8470,41358.8470,,
1,Algeria,"Agricultural Area, % of Land Area",18.5646,19.0756,19.0600,18.6015,18.6150,18.3702,18.4827,18.4034,...,17.3955,17.3953,17.4059,17.3655,17.3550,17.3650,17.3650,17.3650,,
2,Algeria,"Agricultural Area, per Rural Population",5.2975,5.3366,5.2250,4.9935,4.8896,4.6630,4.4836,4.3306,...,3.5836,3.5895,3.5963,3.5924,3.5953,3.6040,3.6122,3.6237,,
3,Algeria,"Agricultural Products, Exports (in Thousands)",199067.0000,107658.0000,124460.0000,229329.0000,168259.0000,175258.0000,148356.0000,131956.0000,...,394641.0000,378464.9200,284414.4700,381790.5500,431298.5400,300257.1200,405076.9200,487941.4000,522287.3600,
4,Algeria,"Agricultural Products, Exports, % of Total",11.8630,14.5094,17.2844,13.6641,17.2224,19.5856,14.5533,13.9365,...,16.0306,17.1505,16.4134,15.8835,16.7616,16.5204,17.7012,22.9291,,
5,Algeria,"Agricultural Products, Imports (in Thousands)",168749.0000,204519.0000,299880.0000,377482.0000,808416.0000,1312780.0000,960081.0000,1224480.0000,...,10222336.0000,11707334.6600,9950022.5800,8910182.6100,9320009.0100,9305724.8100,8856362.2800,9256868.9200,10565001.8400,
6,Algeria,"Agricultural Products, Imports, % of Total",30318.0000,-96861.0000,-175420.0000,-148153.0000,-640157.0000,-1137522.0000,-811725.0000,-1092524.0000,...,-9827695.0000,-11328869.7400,-9665608.1100,-8528392.0600,-8888710.4700,-9005467.6900,-8451285.3600,-8768927.5200,-10042714.4800,
7,Algeria,"Agricultural Products, Net Exports (in Thousands)",17.4500,10.9127,8.5227,9.7821,3.2940,3.3490,2.5412,2.0653,...,0.5665,0.5858,0.7395,1.1430,1.1203,0.6638,1.0383,1.8693,,
8,Algeria,Aquatic Species Caught,24234.0000,23715.0000,28313.0000,31243.0000,35758.0000,37693.0000,35122.0000,43475.0000,...,103165.8840,100163.0410,97131.1800,101964.4700,108342.6050,120166.4160,105388.5500,86901.0600,,
9,Algeria,Arable Land Area (in Thousands),6248.0000,6380.0000,6510.0000,6512.0000,6544.0000,6845.0000,7092.0000,6904.0000,...,7496.2000,7469.4000,7462.1000,7404.2000,7470.8071,7505.0170,7505.0170,7505.0170,,

In [9]:
df = df.melt(id_vars=['Country', 'Indicator'], var_name='Year', value_name='Value')

In [10]:
df.head(5)

   Country                                      Indicator  Year        Value
0  Algeria               Agricultural Area (in Thousands)  1970   44216.0000
1  Algeria              Agricultural Area, % of Land Area  1970      18.5646
2  Algeria        Agricultural Area, per Rural Population  1970       5.2975
3  Algeria  Agricultural Products, Exports (in Thousands)  1970  199067.0000
4  Algeria     Agricultural Products, Exports, % of Total  1970      11.8630

In [11]:
df = df.pivot(index=['Country', 'Year'], columns='Indicator', values='Value')

In [12]:
df = df.reset_index()

In [13]:
df.head()

Indicator,Country,Year,Agricultural Area (in Thousands),"Agricultural Area, % of Land Area","Agricultural Area, per Rural Population","Agricultural Products, Exports (in Thousands)","Agricultural Products, Exports, % of Total","Agricultural Products, Imports (in Thousands)","Agricultural Products, Imports, % of Total","Agricultural Products, Net Exports (in Thousands)",...,"Sorghum, Production","Sorghum, Production, per Person","Sorghum, Yield, per Hectare",Surface Area,Total Agricultural Water Managed Area (in Thousands),"Water Withdrawal, Agricultural, % of Total Water Withdrawal","Wheat, Area Harvested","Wheat, Production","Wheat, Production, per Person","Wheat, Yield, per Hectare"
0,Algeria,1970,44216.0000,18.5646,5.2975,199067.0000,11.8630,168749.0000,30318.0000,17.4500,...,1696.0000,0.1229,8565.6566,2381740.0000,,,2296960.0000,1434548.0000,103.9829,6245.4200
1,Algeria,1971,45433.0000,19.0756,5.3366,107658.0000,14.5094,204519.0000,-96861.0000,10.9127,...,1319.0000,0.0935,6978.8360,2381740.0000,,,2148070.0000,1317392.0000,93.3658,6132.9100
2,Algeria,1972,45396.0000,19.0600,5.2250,124460.0000,17.2844,299880.0000,-175420.0000,8.5227,...,1492.0000,0.1033,10733.8130,2381740.0000,,,2471160.0000,1655854.0000,114.6713,6700.7155
3,Algeria,1973,44304.0000,18.6015,4.9935,229329.0000,13.6641,377482.0000,-148153.0000,9.7821,...,3081.0000,0.2084,13878.3784,2381740.0000,,,2346900.0000,1158077.0000,78.3225,4934.4966
4,Algeria,1974,44336.0000,18.6150,4.8896,168259.0000,17.2224,808416.0000,-640157.0000,3.2940,...,1177.0000,0.0777,7794.7020,2381740.0000,,,2200950.0000,1091111.0000,72.0015,4957.4547

In [14]:
df.to_csv('../../task 2 data preprocessing/processedData/country_agriculture_land_use_1970-2022_processed.csv',index=False)