In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv('../../src/data/city_growth_models/large-african_cities_built_up_area.csv',encoding = 'ISO-8859-1')

In [7]:
data.head(10)

,COU,Country,MEAS,Measure,Large subnational region,VAR,Variable,Year,Unit Code,Unit,Value
0,DZA,Algeria,SQKM,Square kilometers,Khenchela,BUILT_UP_BEFORE,Area built-up before,1975,KM2,Square kilometres,2.743200
1,DZA,Algeria,SQKM,Square kilometers,Khenchela,BUILT_UP_BEFORE,Area built-up before,1990,KM2,Square kilometres,12.910500
2,DZA,Algeria,SQKM,Square kilometers,Khenchela,BUILT_UP_BEFORE,Area built-up before,2000,KM2,Square kilometres,22.636800
3,DZA,Algeria,SQKM,Square kilometers,Khenchela,BUILT_UP_BEFORE,Area built-up before,2014,KM2,Square kilometres,30.177000
4,DZA,Algeria,SQKM,Square kilometers,Khenchela,BUILT_UP_SINCE_1990,Built-up since 1990,2000,KM2,Square kilometres,9.726300
5,DZA,Algeria,SQKM,Square kilometers,Khenchela,BUILT_UP_SINCE_1990,Built-up since 1990,2014,KM2,Square kilometres,17.266500
6,DZA,Algeria,SQKM,Square kilometers,Khenchela,BUILT_UP_SINCE_2000,Built-up since 2000,2014,KM2,Square kilometres,7.540200
7,DZA,Algeria,SQKM,Square kilometers,Khenchela,BUILT_UP_SINCE_1975,Built-up since 1975,1990,KM2,Square kilometres,10.167300
8,DZA,Algeria,PCNT,Percent of total land area,Khenchela,BUILT_UP_BEFORE,Area built-up before,1975,PC,Percentage,0.028587
9,DZA,Algeria,PCNT,Percent of total land area,Khenchela,BUILT_UP_BEFORE,Area built-up before,1990,PC,Percentage,0.134541

In [8]:
data.columns

Index(['COU', 'Country', 'MEAS', 'Measure', 'Large subnational region', 'VAR',
       'Variable', 'Year', 'Unit Code', 'Unit', 'Value'],
      dtype='object')

In [9]:
data.shape

(13564, 11)

In [10]:
df = data.copy()

Droping coloumns that are of no use

In [11]:
df.drop(['COU','MEAS','VAR', 'Unit Code', 'Unit'], axis = 1, inplace = True)

In [12]:
df.isnull().sum()

Country                      0
Measure                      0
Large subnational region     0
Variable                     0
Year                         0
Value                       64
dtype: int64

Removing nan values.

In [13]:
df = df.dropna()

In [14]:
df.duplicated().sum()

0

In [15]:
df.head()

,Country,Measure,Large subnational region,Variable,Year,Value
0,Algeria,Square kilometers,Khenchela,Area built-up before,1975,2.7432
1,Algeria,Square kilometers,Khenchela,Area built-up before,1990,12.9105
2,Algeria,Square kilometers,Khenchela,Area built-up before,2000,22.6368
3,Algeria,Square kilometers,Khenchela,Area built-up before,2014,30.1770
4,Algeria,Square kilometers,Khenchela,Built-up since 1990,2000,9.7263

In [16]:
df.describe()

              Value
count  13500.000000
mean      12.640693
std       52.096012
min        0.000000
25%        0.017729
50%        0.278093
75%        5.228775
max     1895.282100

In [17]:
df.Country.unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cameroon', 'Cabo Verde', 'Central African Republic',
       'Chad', 'Comoros', 'Congo', "Côte d'Ivoire",
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Djibouti', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Somalia', 'South Africa', 'Sudan', 'Eswatini', 'Tanzania', 'Togo',
       'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe', 'South Sudan ', 'Malta',
       'Marshall Islands'], dtype=object)

In [18]:
df.dtypes

Country                      object
Measure                      object
Large subnational region     object
Variable                     object
Year                         object
Value                       float64
dtype: object

In [19]:
df.Variable.value_counts()

Area built-up before    6864
Built-up since 1990     3382
Built-up since 2000     1635
Built-up since 1975     1619
Name: Variable, dtype: int64

In [20]:
df.Year.unique()

array(['1975', '1990', '2000', '2014'], dtype=object)

In [24]:
df

,Country,Measure,Large subnational region,Variable,Year,Value
0,Algeria,Square kilometers,Khenchela,Area built-up before,1975,2.743200
1,Algeria,Square kilometers,Khenchela,Area built-up before,1990,12.910500
2,Algeria,Square kilometers,Khenchela,Area built-up before,2000,22.636800
3,Algeria,Square kilometers,Khenchela,Area built-up before,2014,30.177000
4,Algeria,Square kilometers,Khenchela,Built-up since 1990,2000,9.726300
...,...,...,...,...,...,...
13559,South Sudan,Square kilometers,Unity,Built-up since 1975,1990,0.031500
13560,South Sudan,Square kilometers,Eastern Equatoria,Built-up since 1975,1990,0.153000
13561,South Sudan,Square kilometers,Western Equatoria,Built-up since 2000,2014,2.411100
13562,South Sudan,Percent of total land area,Western Equatoria,Built-up since 2000,2014,0.003055
13563,South Sudan,Percent of total land area,Western Equatoria,Built-up since 1975,1990,0.001467

In [25]:
df.to_csv('../../task 2 data preprocessing/processedData/large-african_cities_built_up_area_processed.csv',index=False)

In [21]:
#df1 = df.groupby(['Country', 'Large subnational region','Variable','Year'])

In [22]:
#table = pd.pivot_table(df, values=['Year','Value'], index=['Country', 'Large subnational region','Measure'])

In [23]:
# table