In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv('population_economy_africa_2000_2020.csv')

In [44]:
df

,SDG,SDG target,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Time detail,...,Type of data,Units,Age group,Bounds,Frequency,Level/Status,Location,Type of reporting,Sex,SDG 6 Data portal level
0,NaN,NaN,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Liberia,2000.0,14.632060,NaN,...,NaN,Number of people,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Environment > Agricultural land (% of land area)
1,NaN,NaN,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Libya,2000.0,8.780704,NaN,...,NaN,Number of people,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Environment > Agricultural land (% of land area)
2,NaN,NaN,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Madagascar,2000.0,69.642673,NaN,...,NaN,Number of people,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Environment > Agricultural land (% of land area)
3,NaN,NaN,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Malawi,2000.0,50.169707,NaN,...,NaN,Number of people,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Environment > Agricultural land (% of land area)
4,NaN,NaN,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Mali,2000.0,31.634418,NaN,...,NaN,Number of people,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33539 entries, 0 to 33538
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SDG                      0 non-null      float64
 1   SDG target               0 non-null      float64
 2   SDG indicator            33503 non-null  object
 3   Indicator Code           33503 non-null  object
 4   Indicator name           33503 non-null  object
 5   Geographical area code   33503 non-null  object
 6   Geographical area name   33503 non-null  object
 7   Year                     33503 non-null  float64
 8   Value                    27228 non-null  float64
 9   Time detail              0 non-null      float64
 10  Source                   26724 non-null  object
 11  Footnote                 0 non-null      float64
 12  Type of data             0 non-null      float64
 13  Units                    26717 non-null  object
 14  Age group                0 non-null      float64
 15  Bounds                   0 non-null      float64
 16  Frequency                0 non-null      float64
 17  Level/Status             0 non-null      float64
 18  Location                 0 non-null      float64
 19  Type of reporting        0 non-null      float64
 20  Sex                      0 non-null      float64
 21  SDG 6 Data portal level  33503 non-null  object
dtypes: float64(14), object(8)
memory usage: 5.6+ MB

In [46]:
df.isnull().mean()

SDG                        1.000000
SDG target                 1.000000
SDG indicator              0.001073
Indicator Code             0.001073
Indicator name             0.001073
Geographical area code     0.001073
Geographical area name     0.001073
Year                       0.001073
Value                      0.188169
Time detail                1.000000
Source                     0.203196
Footnote                   1.000000
Type of data               1.000000
Units                      0.203405
Age group                  1.000000
Bounds                     1.000000
Frequency                  1.000000
Level/Status               1.000000
Location                   1.000000
Type of reporting          1.000000
Sex                        1.000000
SDG 6 Data portal level    0.001073
dtype: float64

In [47]:
missing_data = df.isnull().mean()

In [48]:
missing_data[missing_data<1]

SDG indicator              0.001073
Indicator Code             0.001073
Indicator name             0.001073
Geographical area code     0.001073
Geographical area name     0.001073
Year                       0.001073
Value                      0.188169
Source                     0.203196
Units                      0.203405
SDG 6 Data portal level    0.001073
dtype: float64

In [49]:
missing_data[missing_data==1]

SDG                  1.0
SDG target           1.0
Time detail          1.0
Footnote             1.0
Type of data         1.0
Age group            1.0
Bounds               1.0
Frequency            1.0
Level/Status         1.0
Location             1.0
Type of reporting    1.0
Sex                  1.0
dtype: float64

In [50]:
df = df.dropna(axis=1, how='all')

In [51]:
df.isnull().mean()

SDG indicator              0.001073
Indicator Code             0.001073
Indicator name             0.001073
Geographical area code     0.001073
Geographical area name     0.001073
Year                       0.001073
Value                      0.188169
Source                     0.203196
Units                      0.203405
SDG 6 Data portal level    0.001073
dtype: float64

In [52]:
df['SDG indicator'].unique()

array(['AG.LND.AGRI.ZS', 'AG.LND.FRST.ZS', 'AG.LND.TOTL.K2',
       'AG.SRF.TOTL.K2', 'EG.ELC.ACCS.RU.ZS', 'EG.ELC.ACCS.UR.ZS',
       'EG.ELC.ACCS.ZS', 'EG.FEC.RNEW.ZS', 'EG.USE.PCAP.KG.OE',
       'EN.ATM.CO2E.PC', 'EN.ATM.PM25.MC.ZS', 'EN.POP.DNST', 'GII', 'HDI',
       'NV.AGR.TOTL.ZS', 'NV.IND.TOTL.ZS', 'NV.SRV.TOTL.ZS',
       'NY.GDP.MKTP.PP.KD', 'NY.GDP.PCAP.PP.KD', 'NY.GNP.MKTP.PP.KD',
       'NY.GNP.PCAP.PP.KD', 'SE.ENR.PRIM.FM.ZS', 'SE.ENR.SECO.FM.ZS',
       'SE.ENR.TERT.FM.ZS', 'SE.PRM.CMPT.ZS', 'SI.POV.DDAY',
       'SI.POV.GINI', 'SI.POV.NAHC', 'SP.POP.TOTL', 'SP.RUR.TOTL',
       'SP.URB.TOTL', nan], dtype=object)

In [53]:
df.tail(10)

,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Source,Units,SDG 6 Data portal level
33529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33534,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df = df.dropna(axis=0, how='all')

In [55]:
df.isnull().sum()

SDG indicator                 0
Indicator Code                0
Indicator name                0
Geographical area code        0
Geographical area name        0
Year                          0
Value                      6275
Source                     6779
Units                      6786
SDG 6 Data portal level       0
dtype: int64

In [56]:
df['Value']

0        1.463206e+01
1        8.780704e+00
2        6.964267e+01
3        5.016971e+01
4        3.163442e+01
             ...
33498    1.141421e+07
33499    4.378173e+07
33500    2.104257e+07
33501    6.397866e+06
33502    8.204576e+06
Name: Value, Length: 33503, dtype: float64

In [57]:
df.describe()

               Year         Value
count  33503.000000  2.722800e+04
mean    2009.612214  1.180690e+10
std        5.828458  1.371490e+11
min     2000.000000  1.631270e-02
25%     2005.000000  1.399175e+01
50%     2010.000000  6.588110e+01
75%     2015.000000  1.184800e+05
max     2021.000000  4.305966e+12

In [58]:
df

,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Source,Units,SDG 6 Data portal level
0,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Liberia,2000.0,1.463206e+01,World Bank,Number of people,Environment > Agricultural land (% of land area)
1,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Libya,2000.0,8.780704e+00,World Bank,Number of people,Environment > Agricultural land (% of land area)
2,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Madagascar,2000.0,6.964267e+01,World Bank,Number of people,Environment > Agricultural land (% of land area)
3,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Malawi,2000.0,5.016971e+01,World Bank,Number of people,Environment > Agricultural land (% of land area)
4,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Mali,2000.0,3.163442e+01,World Bank,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...,...,...,...,...
33498,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Uganda,2020.0,1.141421e+07,World Bank,Number of people,Society > Urban population
33499,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Egypt,2020.0,4.378173e+07,World Bank,Number of people,Society > Urban population
33500,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,United Republic of Tanzania,2020.0,2.104257e+07,World Bank,Number of people,Society > Urban population
33501,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Burkina Faso,2020.0,6.397866e+06,World Bank,Number of people,Society > Urban population
33502,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Zambia,2020.0,8.204576e+06,World Bank,Number of people,Society > Urban population

In [59]:
from sklearn.impute import SimpleImputer

In [60]:
imputer = SimpleImputer(strategy='mean')

In [61]:
df['Value'] = imputer.fit_transform(df[['Value']]).reshape(-1, 1)

In [62]:
df.Value.isnull().mean()

0.0

In [63]:
df['Source'].unique()

array(['World Bank', nan, 'UNDP',
       '(1) United Nations Population Division. World Population Prospects: 2019 Revision. (2) Census reports and other statistical publications from national statistical offices, (3) Eurostat: Demographic Statistics, (4) United Nations Statistical Division. Population and Vital Statistics Reprot (various years), (5) U.S. Census Bureau: International Database, and (6) Secretariat of the Pacific Community: Statistics and Demography Programme.'],
      dtype=object)

In [64]:
df = df.drop(columns=['Source'],axis=1)

In [65]:
df

,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Units,SDG 6 Data portal level
0,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Liberia,2000.0,1.463206e+01,Number of people,Environment > Agricultural land (% of land area)
1,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Libya,2000.0,8.780704e+00,Number of people,Environment > Agricultural land (% of land area)
2,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Madagascar,2000.0,6.964267e+01,Number of people,Environment > Agricultural land (% of land area)
3,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Malawi,2000.0,5.016971e+01,Number of people,Environment > Agricultural land (% of land area)
4,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Mali,2000.0,3.163442e+01,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...,...,...,...
33498,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Uganda,2020.0,1.141421e+07,Number of people,Society > Urban population
33499,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Egypt,2020.0,4.378173e+07,Number of people,Society > Urban population
33500,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,United Republic of Tanzania,2020.0,2.104257e+07,Number of people,Society > Urban population
33501,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Burkina Faso,2020.0,6.397866e+06,Number of people,Society > Urban population
33502,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Zambia,2020.0,8.204576e+06,Number of people,Society > Urban population

In [66]:
df.Units.unique()

array(['Number of people', nan,
       'Index between 0 and 1, where 0 expresses the highest level of equality',
       'Index between 0 and 1, where 1 expresses the highest level of human development'],
      dtype=object)

In [67]:
df.Units.value_counts()

Number of people                                                                   25203
Index between 0 and 1, where 1 expresses the highest level of human development     1037
Index between 0 and 1, where 0 expresses the highest level of equality               477
Name: Units, dtype: int64

In [68]:
df = df.dropna(subset=['Units'])

In [69]:
df

,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Units,SDG 6 Data portal level
0,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Liberia,2000.0,1.463206e+01,Number of people,Environment > Agricultural land (% of land area)
1,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Libya,2000.0,8.780704e+00,Number of people,Environment > Agricultural land (% of land area)
2,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Madagascar,2000.0,6.964267e+01,Number of people,Environment > Agricultural land (% of land area)
3,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Malawi,2000.0,5.016971e+01,Number of people,Environment > Agricultural land (% of land area)
4,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Mali,2000.0,3.163442e+01,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...,...,...,...
33498,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Uganda,2020.0,1.141421e+07,Number of people,Society > Urban population
33499,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Egypt,2020.0,4.378173e+07,Number of people,Society > Urban population
33500,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,United Republic of Tanzania,2020.0,2.104257e+07,Number of people,Society > Urban population
33501,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Burkina Faso,2020.0,6.397866e+06,Number of people,Society > Urban population
33502,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Zambia,2020.0,8.204576e+06,Number of people,Society > Urban population

In [70]:
df = df.reset_index()

In [71]:
df

,index,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Units,SDG 6 Data portal level
0,0,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Liberia,2000.0,1.463206e+01,Number of people,Environment > Agricultural land (% of land area)
1,1,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Libya,2000.0,8.780704e+00,Number of people,Environment > Agricultural land (% of land area)
2,2,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Madagascar,2000.0,6.964267e+01,Number of people,Environment > Agricultural land (% of land area)
3,3,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Malawi,2000.0,5.016971e+01,Number of people,Environment > Agricultural land (% of land area)
4,4,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Mali,2000.0,3.163442e+01,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...,...,...,...,...
26712,33498,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Uganda,2020.0,1.141421e+07,Number of people,Society > Urban population
26713,33499,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Egypt,2020.0,4.378173e+07,Number of people,Society > Urban population
26714,33500,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,United Republic of Tanzania,2020.0,2.104257e+07,Number of people,Society > Urban population
26715,33501,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Burkina Faso,2020.0,6.397866e+06,Number of people,Society > Urban population
26716,33502,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Zambia,2020.0,8.204576e+06,Number of people,Society > Urban population

In [72]:
df = df.drop(columns=['index'])

In [73]:
df

,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Units,SDG 6 Data portal level
0,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Liberia,2000.0,1.463206e+01,Number of people,Environment > Agricultural land (% of land area)
1,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Libya,2000.0,8.780704e+00,Number of people,Environment > Agricultural land (% of land area)
2,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Madagascar,2000.0,6.964267e+01,Number of people,Environment > Agricultural land (% of land area)
3,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Malawi,2000.0,5.016971e+01,Number of people,Environment > Agricultural land (% of land area)
4,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Mali,2000.0,3.163442e+01,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...,...,...,...
26712,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Uganda,2020.0,1.141421e+07,Number of people,Society > Urban population
26713,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Egypt,2020.0,4.378173e+07,Number of people,Society > Urban population
26714,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,United Republic of Tanzania,2020.0,2.104257e+07,Number of people,Society > Urban population
26715,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Burkina Faso,2020.0,6.397866e+06,Number of people,Society > Urban population
26716,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Zambia,2020.0,8.204576e+06,Number of people,Society > Urban population

In [74]:
df['Year'] = df['Year'].astype('int')

In [75]:
df

,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Units,SDG 6 Data portal level
0,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Liberia,2000,1.463206e+01,Number of people,Environment > Agricultural land (% of land area)
1,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Libya,2000,8.780704e+00,Number of people,Environment > Agricultural land (% of land area)
2,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Madagascar,2000,6.964267e+01,Number of people,Environment > Agricultural land (% of land area)
3,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Malawi,2000,5.016971e+01,Number of people,Environment > Agricultural land (% of land area)
4,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Mali,2000,3.163442e+01,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...,...,...,...
26712,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Uganda,2020,1.141421e+07,Number of people,Society > Urban population
26713,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Egypt,2020,4.378173e+07,Number of people,Society > Urban population
26714,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,United Republic of Tanzania,2020,2.104257e+07,Number of people,Society > Urban population
26715,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Burkina Faso,2020,6.397866e+06,Number of people,Society > Urban population
26716,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Zambia,2020,8.204576e+06,Number of people,Society > Urban population

In [76]:
df['Country'] = 'Africa'

In [77]:
df

,SDG indicator,Indicator Code,Indicator name,Geographical area code,Geographical area name,Year,Value,Units,SDG 6 Data portal level,Country
0,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Liberia,2000,1.463206e+01,Number of people,Environment > Agricultural land (% of land area),Africa
1,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Libya,2000,8.780704e+00,Number of people,Environment > Agricultural land (% of land area),Africa
2,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Madagascar,2000,6.964267e+01,Number of people,Environment > Agricultural land (% of land area),Africa
3,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Malawi,2000,5.016971e+01,Number of people,Environment > Agricultural land (% of land area),Africa
4,AG.LND.AGRI.ZS,AG.LND.AGRI.ZS,Agricultural land (% of land area),Country,Mali,2000,3.163442e+01,Number of people,Environment > Agricultural land (% of land area),Africa
...,...,...,...,...,...,...,...,...,...,...
26712,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Uganda,2020,1.141421e+07,Number of people,Society > Urban population,Africa
26713,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Egypt,2020,4.378173e+07,Number of people,Society > Urban population,Africa
26714,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,United Republic of Tanzania,2020,2.104257e+07,Number of people,Society > Urban population,Africa
26715,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Burkina Faso,2020,6.397866e+06,Number of people,Society > Urban population,Africa
26716,SP.URB.TOTL,SP.URB.TOTL,Urban population,Country,Zambia,2020,8.204576e+06,Number of people,Society > Urban population,Africa

In [78]:
df = df.drop(columns=['SDG indicator','Indicator Code','Geographical area code','Country'],axis=1)

In [79]:
df

,Indicator name,Geographical area name,Year,Value,Units,SDG 6 Data portal level
0,Agricultural land (% of land area),Liberia,2000,1.463206e+01,Number of people,Environment > Agricultural land (% of land area)
1,Agricultural land (% of land area),Libya,2000,8.780704e+00,Number of people,Environment > Agricultural land (% of land area)
2,Agricultural land (% of land area),Madagascar,2000,6.964267e+01,Number of people,Environment > Agricultural land (% of land area)
3,Agricultural land (% of land area),Malawi,2000,5.016971e+01,Number of people,Environment > Agricultural land (% of land area)
4,Agricultural land (% of land area),Mali,2000,3.163442e+01,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...
26712,Urban population,Uganda,2020,1.141421e+07,Number of people,Society > Urban population
26713,Urban population,Egypt,2020,4.378173e+07,Number of people,Society > Urban population
26714,Urban population,United Republic of Tanzania,2020,2.104257e+07,Number of people,Society > Urban population
26715,Urban population,Burkina Faso,2020,6.397866e+06,Number of people,Society > Urban population
26716,Urban population,Zambia,2020,8.204576e+06,Number of people,Society > Urban population

In [80]:
df

,Indicator name,Geographical area name,Year,Value,Units,SDG 6 Data portal level
0,Agricultural land (% of land area),Liberia,2000,1.463206e+01,Number of people,Environment > Agricultural land (% of land area)
1,Agricultural land (% of land area),Libya,2000,8.780704e+00,Number of people,Environment > Agricultural land (% of land area)
2,Agricultural land (% of land area),Madagascar,2000,6.964267e+01,Number of people,Environment > Agricultural land (% of land area)
3,Agricultural land (% of land area),Malawi,2000,5.016971e+01,Number of people,Environment > Agricultural land (% of land area)
4,Agricultural land (% of land area),Mali,2000,3.163442e+01,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...
26712,Urban population,Uganda,2020,1.141421e+07,Number of people,Society > Urban population
26713,Urban population,Egypt,2020,4.378173e+07,Number of people,Society > Urban population
26714,Urban population,United Republic of Tanzania,2020,2.104257e+07,Number of people,Society > Urban population
26715,Urban population,Burkina Faso,2020,6.397866e+06,Number of people,Society > Urban population
26716,Urban population,Zambia,2020,8.204576e+06,Number of people,Society > Urban population

In [86]:
df = df.rename(columns={'Geographical area name':'Country'})

In [87]:
df

,Indicator name,Country,Year,Value,Units,SDG 6 Data portal level
0,Agricultural land (% of land area),Liberia,2000,1.463206e+01,Number of people,Environment > Agricultural land (% of land area)
1,Agricultural land (% of land area),Libya,2000,8.780704e+00,Number of people,Environment > Agricultural land (% of land area)
2,Agricultural land (% of land area),Madagascar,2000,6.964267e+01,Number of people,Environment > Agricultural land (% of land area)
3,Agricultural land (% of land area),Malawi,2000,5.016971e+01,Number of people,Environment > Agricultural land (% of land area)
4,Agricultural land (% of land area),Mali,2000,3.163442e+01,Number of people,Environment > Agricultural land (% of land area)
...,...,...,...,...,...,...
26712,Urban population,Uganda,2020,1.141421e+07,Number of people,Society > Urban population
26713,Urban population,Egypt,2020,4.378173e+07,Number of people,Society > Urban population
26714,Urban population,United Republic of Tanzania,2020,2.104257e+07,Number of people,Society > Urban population
26715,Urban population,Burkina Faso,2020,6.397866e+06,Number of people,Society > Urban population
26716,Urban population,Zambia,2020,8.204576e+06,Number of people,Society > Urban population

In [95]:
pivot_table = pd.pivot_table(df,index=["Country", "Year"], columns="Indicator name", values="Value")

In [96]:
pivot_table.reset_index()

Indicator name,Country,Year,Agricultural land (% of land area),CO2 emissions,Energy use per capita,Forest area (% of land area),Gender Inequality Index (GII),Gross domestic product (GDP),Gross domestic product per capita (GPD/capita),Gross national income (GNI),...,Primary school enrollment ratio of girls to boys,Proportion of population with access to electricity,Proportion of rural population with access to electricity,Proportion of urban population with access to electricity,Renewable energy share in total final energy consumption,Rural population,Secondary school enrollment ratio of girls to boys,Surface area,Tertiary school enrollment ratio of girls to boys,Urban population
0,Algeria,2000,16.803261,2.531712,869.609756,0.662961,0.624,2.703917e+11,8710.444074,2.605071e+11,...,0.91668,NaN,NaN,NaN,0.427400,12442039.0,1.04744,2381740.0,NaN,18600199.0
1,Algeria,2001,16.840209,2.377310,860.041423,0.677194,NaN,2.785034e+11,8855.008927,2.722256e+11,...,0.91830,NaN,NaN,NaN,0.427700,12356670.0,1.06336,2381740.0,NaN,19094843.0
2,Algeria,2002,16.733565,2.524242,908.297287,0.691427,NaN,2.940996e+11,9232.415784,2.854163e+11,...,0.92461,NaN,NaN,NaN,0.514800,12263899.0,1.06370,2381740.0,NaN,19591211.0
3,Algeria,2003,16.754851,2.598549,953.058222,0.705661,NaN,3.152748e+11,9771.672432,3.061471e+11,...,0.92375,NaN,NaN,NaN,0.469100,12168750.0,1.08735,2381740.0,NaN,20095409.0
4,Algeria,2004,17.275185,2.596648,952.268240,0.719894,NaN,3.288316e+11,10058.426227,3.177509e+11,...,0.92588,NaN,NaN,NaN,0.441800,12076154.0,1.09079,2381740.0,1.07253,20615999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1198,Zimbabwe,2017,41.876696,0.718570,NaN,45.451183,0.533,5.403704e+10,3795.642431,5.308712e+10,...,0.99222,40.144283,18.637382,85.352348,83.492996,9647147.0,NaN,390760.0,NaN,4589452.0
1199,Zimbabwe,2018,41.876696,0.849793,NaN,45.332093,0.532,5.664390e+10,3923.030495,5.579175e+10,...,0.99664,40.616360,19.358349,85.358574,81.363602,9788215.0,NaN,390760.0,NaN,4650597.0
1200,Zimbabwe,2019,NaN,NaN,NaN,45.213002,0.527,5.316356e+10,3630.033985,NaN,...,0.99917,41.089108,20.051849,85.364670,NaN,9928166.0,NaN,NaN,NaN,4717307.0
1201,Zimbabwe,2020,NaN,NaN,NaN,45.093912,NaN,4.984151e+10,3353.411304,NaN,...,1.00511,NaN,NaN,NaN,NaN,10070822.0,NaN,NaN,NaN,4792105.0
1202,Zimbabwe,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN