In [18]:
import pandas as pd

In [19]:
df = pd.read_csv("real-gdp-growth.csv")

In [20]:
df

,Entity,Code,Year,"Gross domestic product, constant prices - Percent change"
0,Afghanistan,AFG,2003,8.692
1,Afghanistan,AFG,2004,0.671
2,Afghanistan,AFG,2005,11.830
3,Afghanistan,AFG,2006,5.361
4,Afghanistan,AFG,2007,13.340
...,...,...,...,...
8532,Zimbabwe,ZWE,2023,2.844
8533,Zimbabwe,ZWE,2024,2.892
8534,Zimbabwe,ZWE,2025,2.948
8535,Zimbabwe,ZWE,2026,2.958
8536,Zimbabwe,ZWE,2027,2.959

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8537 entries, 0 to 8536
Data columns (total 4 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Entity                                                    8537 non-null   object
 1   Code                                                      8537 non-null   object
 2   Year                                                      8537 non-null   int64
 3   Gross domestic product, constant prices - Percent change  8537 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 266.9+ KB

In [22]:
df.describe()

              Year  Gross domestic product, constant prices - Percent change
count  8537.000000                                        8537.000000
mean   2004.880754                                           3.383451
std      13.489472                                           6.195001
min    1980.000000                                         -54.011000
25%    1994.000000                                           1.421000
50%    2005.000000                                           3.483000
75%    2016.000000                                           5.705000
max    2027.000000                                         151.644000

In [23]:
df.isnull().sum()

Entity                                                      0
Code                                                        0
Year                                                        0
Gross domestic product, constant prices - Percent change    0
dtype: int64

In [24]:
df.duplicated().sum()

0

### Drop Column

In [25]:
df = df.drop(columns=['Code'])

In [26]:
df = df.rename(columns={'Entity': 'Country'})

In [27]:
african_countries = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 
                     'Central African Republic', 'Chad', 'Comoros', 'Democratic Republic of the Congo', 'Republic of the Congo', 
                     'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 
                     'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 
                     'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 
                     'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Swaziland', 
                     'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

In [28]:
df = df[df['Country'].isin(african_countries)]

In [29]:
df

       Country  Year  Gross domestic product, constant prices - Percent change
66     Algeria  1980                                             -5.400
67     Algeria  1981                                              3.000
68     Algeria  1982                                              6.400
69     Algeria  1983                                              5.400
70     Algeria  1984                                              5.600
...        ...   ...                                                ...
8532  Zimbabwe  2023                                              2.844
8533  Zimbabwe  2024                                              2.892
8534  Zimbabwe  2025                                              2.948
8535  Zimbabwe  2026                                              2.958
8536  Zimbabwe  2027                                              2.959

[2232 rows x 3 columns]