In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../src/data/city_growth_models/Top-20_population-count_2000-2020_part1.csv')

In [3]:
df

,latitude,longitude,Adjusted-Population-Count_2000,Adjusted-Population-Count_2005,Adjusted-Population-Count_2010,Adjusted-Population-Count_2015,Adjusted-Population-Count_2020,Data-Code_2010,Data-Quality_Data-Context_2010,Data-Quality_Mean-Administrative-Unit-Area_2010,...,Growth_Rate-Admin-Level_2010,Input-Data-Age_2010,Input-Data-Level_2010,Input-Data-Sex_2010,Input-Data-Year_2010,Land-Area_2010,National-Identifier-Grid_2010,Water-Area_2010,Year-most-recent-Census_2010,Country_Name
0,-46.979167,37.604167,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0000,...,3.0,6.0,6.0,6.0,2011.0,1.405585,710.0,1.530877,2011.0,South Africa
1,-46.979167,37.645833,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0000,...,3.0,6.0,6.0,6.0,2011.0,4.580090,710.0,1.292559,2011.0,South Africa
2,-46.979167,37.687500,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0000,...,3.0,6.0,6.0,6.0,2011.0,3.415395,710.0,1.856529,2011.0,South Africa
3,-46.979167,37.729167,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0000,...,3.0,6.0,6.0,6.0,2011.0,4.529518,710.0,1.343131,2011.0,South Africa
4,-46.979167,37.770833,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0000,...,3.0,6.0,6.0,6.0,2011.0,1.793158,710.0,1.143395,2011.0,South Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319079,2.645833,39.145833,30.59974,47.421470,73.49069,113.89105,176.50090,1.0,0.0,842.0747,...,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya
319080,2.645833,39.187500,30.59974,47.421470,73.49069,113.89106,176.50092,1.0,0.0,842.0747,...,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya
319081,2.645833,39.229167,30.59974,47.421470,73.49069,113.89106,176.50090,1.0,0.0,842.0747,...,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya
319082,2.645833,39.270833,30.59974,47.421470,73.49069,113.89106,176.50090,1.0,0.0,842.0747,...,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya
319083,2.645833,39.312500,39.90161,61.836903,95.83078,148.51227,230.15459,1.0,0.0,685.0538,...,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319084 entries, 0 to 319083
Data columns (total 23 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   latitude                                         319084 non-null  float64
 1   longitude                                        319084 non-null  float64
 2   Adjusted-Population-Count_2000                   314684 non-null  float64
 3   Adjusted-Population-Count_2005                   314684 non-null  float64
 4   Adjusted-Population-Count_2010                   314684 non-null  float64
 5   Adjusted-Population-Count_2015                   314684 non-null  float64
 6   Adjusted-Population-Count_2020                   314684 non-null  float64
 7   Data-Code_2010                                   319084 non-null  float64
 8   Data-Quality_Data-Context_2010                   314684 non-null  float64
 9   Data-Quality_Mean-Administrative-Unit-Area_2010  319084 non-null  float64
 10  Data-Quality_Water-Mask_2010                     319084 non-null  float64
 11  Growth-Rate-End-Year_2010                        319084 non-null  float64
 12  Growth-Rate-Start-Year_2010                      319084 non-null  float64
 13  Growth_Rate-Admin-Level_2010                     319084 non-null  float64
 14  Input-Data-Age_2010                              319084 non-null  float64
 15  Input-Data-Level_2010                            319084 non-null  float64
 16  Input-Data-Sex_2010                              319084 non-null  float64
 17  Input-Data-Year_2010                             319084 non-null  float64
 18  Land-Area_2010                                   319084 non-null  float64
 19  National-Identifier-Grid_2010                    319084 non-null  float64
 20  Water-Area_2010                                  319084 non-null  float64
 21  Year-most-recent-Census_2010                     319084 non-null  float64
 22  Country_Name                                     319084 non-null  object
dtypes: float64(22), object(1)
memory usage: 56.0+ MB

In [44]:
df.describe()

,latitude,longitude,Adjusted-Population-Count_2000,Adjusted-Population-Count_2005,Adjusted-Population-Count_2010,Adjusted-Population-Count_2015,Adjusted-Population-Count_2020,Data-Code_2010,Data-Quality_Data-Context_2010,Data-Quality_Mean-Administrative-Unit-Area_2010,Data-Quality_Water-Mask_2010,Growth-Rate-End-Year_2010,Growth-Rate-Start-Year_2010,Growth_Rate-Admin-Level_2010,Input-Data-Age_2010,Input-Data-Level_2010,Input-Data-Sex_2010,Input-Data-Year_2010,Land-Area_2010,National-Identifier-Grid_2010,Water-Area_2010,Year-most-recent-Census_2010
count,319084.000000,319084.000000,314684.000000,314684.000000,314684.000000,314684.000000,3.146840e+05,319084.000000,314684.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000,319084.000000
mean,-12.148880,27.409501,582.762578,657.280218,756.513679,890.548808,1.077328e+03,3.529942,2.579079,10472.243621,1.916799,2010.544700,2001.158074,1.746524,1.660165,3.652186,2.378192,2010.544700,20.195955,391.464398,0.389727,2001.773003
std,10.482901,9.311589,3750.713126,4335.785012,5113.025923,6277.611736,8.452838e+03,2.262801,22.848660,12379.997530,0.310077,2.210606,3.050018,0.888776,2.345235,1.408323,2.337805,2.210606,2.958521,296.300921,2.482253,12.860878
min,-46.979167,9.812500,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,2005.000000,1987.000000,1.000000,0.000000,2.000000,0.000000,2005.000000,0.000000,24.000000,0.000000,1984.000000
25%,-19.562500,20.229167,37.551330,40.052861,46.789120,50.478043,5.845927e+01,1.000000,0.000000,584.446265,2.000000,2008.000000,1998.000000,1.000000,0.000000,3.000000,0.000000,2008.000000,19.776070,180.000000,0.000000,1984.000000
50%,-9.229167,25.729167,135.817950,165.816200,205.925010,247.468500,2.891680e+02,4.000000,0.000000,4346.657000,2.000000,2011.000000,2001.000000,1.000000,0.000000,3.000000,2.000000,2011.000000,21.174755,404.000000,0.000000,2011.000000
75%,-3.854167,33.812500,391.034580,450.698810,537.780703,648.683650,8.012983e+02,6.000000,0.000000,18474.002000,2.000000,2012.000000,2003.000000,3.000000,2.000000,5.000000,5.000000,2012.000000,21.450651,710.000000,0.000000,2012.000000
max,2.645833,50.479167,595866.100000,666150.750000,744725.700000,832568.900000,1.017509e+06,6.000000,205.000000,48971.152000,2.000000,2014.000000,2006.000000,3.000000,6.000000,6.000000,6.000000,2014.000000,21.513943,834.000000,21.513939,2014.000000

In [8]:
df.Country_Name.value_counts()

Democratic Republic of the Congo    95221
South Africa                        65624
Angola                              60033
United Republic of Tanzania         44659
Madagascar                          30212
Kenya                               21462
Cameroon                             1873
Name: Country_Name, dtype: int64

In [5]:
pd.options.display.max_columns = None

In [6]:
df.head(3)

,latitude,longitude,Adjusted-Population-Count_2000,Adjusted-Population-Count_2005,Adjusted-Population-Count_2010,Adjusted-Population-Count_2015,Adjusted-Population-Count_2020,Data-Code_2010,Data-Quality_Data-Context_2010,Data-Quality_Mean-Administrative-Unit-Area_2010,Data-Quality_Water-Mask_2010,Growth-Rate-End-Year_2010,Growth-Rate-Start-Year_2010,Growth_Rate-Admin-Level_2010,Input-Data-Age_2010,Input-Data-Level_2010,Input-Data-Sex_2010,Input-Data-Year_2010,Land-Area_2010,National-Identifier-Grid_2010,Water-Area_2010,Year-most-recent-Census_2010,Country_Name
0,-46.979167,37.604167,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,1.405585,710.0,1.530877,2011.0,South Africa
1,-46.979167,37.645833,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,4.580090,710.0,1.292559,2011.0,South Africa
2,-46.979167,37.687500,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,3.415395,710.0,1.856529,2011.0,South Africa

### Handling Missing Values

In [47]:
df.isna().sum()

latitude                                              0
longitude                                             0
Adjusted-Population-Count_2000                     4400
Adjusted-Population-Count_2005                     4400
Adjusted-Population-Count_2010                     4400
Adjusted-Population-Count_2015                     4400
Adjusted-Population-Count_2020                     4400
Data-Code_2010                                        0
Data-Quality_Data-Context_2010                     4400
Data-Quality_Mean-Administrative-Unit-Area_2010       0
Data-Quality_Water-Mask_2010                          0
Growth-Rate-End-Year_2010                             0
Growth-Rate-Start-Year_2010                           0
Growth_Rate-Admin-Level_2010                          0
Input-Data-Age_2010                                   0
Input-Data-Level_2010                                 0
Input-Data-Sex_2010                                   0
Input-Data-Year_2010                                  0
Land-Area_2010                                        0
National-Identifier-Grid_2010                         0
Water-Area_2010                                       0
Year-most-recent-Census_2010                          0
Country_Name                                          0
dtype: int64

In [48]:
df.isnull().mean()

latitude                                           0.000000
longitude                                          0.000000
Adjusted-Population-Count_2000                     0.013789
Adjusted-Population-Count_2005                     0.013789
Adjusted-Population-Count_2010                     0.013789
Adjusted-Population-Count_2015                     0.013789
Adjusted-Population-Count_2020                     0.013789
Data-Code_2010                                     0.000000
Data-Quality_Data-Context_2010                     0.013789
Data-Quality_Mean-Administrative-Unit-Area_2010    0.000000
Data-Quality_Water-Mask_2010                       0.000000
Growth-Rate-End-Year_2010                          0.000000
Growth-Rate-Start-Year_2010                        0.000000
Growth_Rate-Admin-Level_2010                       0.000000
Input-Data-Age_2010                                0.000000
Input-Data-Level_2010                              0.000000
Input-Data-Sex_2010                                0.000000
Input-Data-Year_2010                               0.000000
Land-Area_2010                                     0.000000
National-Identifier-Grid_2010                      0.000000
Water-Area_2010                                    0.000000
Year-most-recent-Census_2010                       0.000000
Country_Name                                       0.000000
dtype: float64

In [49]:
df_corr = df.corr()

In [50]:
df_corr['Adjusted-Population-Count_2000'].sort_values(ascending=False)

Adjusted-Population-Count_2000                     1.000000
Adjusted-Population-Count_2005                     0.995986
Adjusted-Population-Count_2010                     0.979987
Adjusted-Population-Count_2015                     0.934860
Adjusted-Population-Count_2020                     0.823551
Input-Data-Sex_2010                                0.037967
Input-Data-Level_2010                              0.037780
National-Identifier-Grid_2010                      0.036687
longitude                                          0.034701
Input-Data-Age_2010                                0.028694
Year-most-recent-Census_2010                       0.017872
Growth_Rate-Admin-Level_2010                       0.012793
Land-Area_2010                                     0.010909
latitude                                           0.009534
Water-Area_2010                                   -0.010385
Input-Data-Year_2010                              -0.011380
Growth-Rate-End-Year_2010                         -0.011380
Data-Quality_Water-Mask_2010                      -0.013364
Growth-Rate-Start-Year_2010                       -0.016506
Data-Quality_Data-Context_2010                    -0.017538
Data-Code_2010                                    -0.041146
Data-Quality_Mean-Administrative-Unit-Area_2010   -0.087013
Name: Adjusted-Population-Count_2000, dtype: float64

In [51]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from fancyimpute import IterativeImputer

In [52]:
missing_data = df.isna()

In [53]:
imputer = IterativeImputer()
imputed_data = imputer.fit_transform(df[['Adjusted-Population-Count_2000','Adjusted-Population-Count_2005','Adjusted-Population-Count_2010','Adjusted-Population-Count_2015','Adjusted-Population-Count_2020']])

In [54]:
imputed_data_df = pd.DataFrame(imputed_data, columns=df.columns[2:7])
imputed_missing_data = imputed_data_df.isna()
imputed_missing_data.sum()

Adjusted-Population-Count_2000    0
Adjusted-Population-Count_2005    0
Adjusted-Population-Count_2010    0
Adjusted-Population-Count_2015    0
Adjusted-Population-Count_2020    0
dtype: int64

In [55]:
imputed_data_df

,Adjusted-Population-Count_2000,Adjusted-Population-Count_2005,Adjusted-Population-Count_2010,Adjusted-Population-Count_2015,Adjusted-Population-Count_2020
0,582.762578,657.280218,756.513679,890.548808,1077.328337
1,582.762578,657.280218,756.513679,890.548808,1077.328337
2,582.762578,657.280218,756.513679,890.548808,1077.328337
3,582.762578,657.280218,756.513679,890.548808,1077.328337
4,582.762578,657.280218,756.513679,890.548808,1077.328337
...,...,...,...,...,...
319079,30.599740,47.421470,73.490690,113.891050,176.500900
319080,30.599740,47.421470,73.490690,113.891060,176.500920
319081,30.599740,47.421470,73.490690,113.891060,176.500900
319082,30.599740,47.421470,73.490690,113.891060,176.500900
319083,39.901610,61.836903,95.830780,148.512270,230.154590

In [56]:
exclude_cols = ['Adjusted-Population-Count_2000', 'Adjusted-Population-Count_2005', 'Adjusted-Population-Count_2010', 'Adjusted-Population-Count_2015', 'Adjusted-Population-Count_2020']
df = df.loc[:, ~df.columns.isin(exclude_cols)]

In [57]:
df

,latitude,longitude,Data-Code_2010,Data-Quality_Data-Context_2010,Data-Quality_Mean-Administrative-Unit-Area_2010,Data-Quality_Water-Mask_2010,Growth-Rate-End-Year_2010,Growth-Rate-Start-Year_2010,Growth_Rate-Admin-Level_2010,Input-Data-Age_2010,Input-Data-Level_2010,Input-Data-Sex_2010,Input-Data-Year_2010,Land-Area_2010,National-Identifier-Grid_2010,Water-Area_2010,Year-most-recent-Census_2010,Country_Name
0,-46.979167,37.604167,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,1.405585,710.0,1.530877,2011.0,South Africa
1,-46.979167,37.645833,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,4.580090,710.0,1.292559,2011.0,South Africa
2,-46.979167,37.687500,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,3.415395,710.0,1.856529,2011.0,South Africa
3,-46.979167,37.729167,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,4.529518,710.0,1.343131,2011.0,South Africa
4,-46.979167,37.770833,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,1.793158,710.0,1.143395,2011.0,South Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319079,2.645833,39.145833,1.0,0.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya
319080,2.645833,39.187500,1.0,0.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya
319081,2.645833,39.229167,1.0,0.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya
319082,2.645833,39.270833,1.0,0.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya
319083,2.645833,39.312500,1.0,0.0,685.0538,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya

In [62]:
df = pd.concat([df,imputed_data_df],axis=1)

In [63]:
df

,latitude,longitude,Data-Code_2010,Data-Quality_Data-Context_2010,Data-Quality_Mean-Administrative-Unit-Area_2010,Data-Quality_Water-Mask_2010,Growth-Rate-End-Year_2010,Growth-Rate-Start-Year_2010,Growth_Rate-Admin-Level_2010,Input-Data-Age_2010,Input-Data-Level_2010,Input-Data-Sex_2010,Input-Data-Year_2010,Land-Area_2010,National-Identifier-Grid_2010,Water-Area_2010,Year-most-recent-Census_2010,Country_Name,Adjusted-Population-Count_2000,Adjusted-Population-Count_2005,Adjusted-Population-Count_2010,Adjusted-Population-Count_2015,Adjusted-Population-Count_2020
0,-46.979167,37.604167,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,1.405585,710.0,1.530877,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
1,-46.979167,37.645833,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,4.580090,710.0,1.292559,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
2,-46.979167,37.687500,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,3.415395,710.0,1.856529,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
3,-46.979167,37.729167,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,4.529518,710.0,1.343131,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
4,-46.979167,37.770833,1.0,NaN,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,1.793158,710.0,1.143395,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319079,2.645833,39.145833,1.0,0.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,30.599740,47.421470,73.490690,113.891050,176.500900
319080,2.645833,39.187500,1.0,0.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,30.599740,47.421470,73.490690,113.891060,176.500920
319081,2.645833,39.229167,1.0,0.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,30.599740,47.421470,73.490690,113.891060,176.500900
319082,2.645833,39.270833,1.0,0.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,30.599740,47.421470,73.490690,113.891060,176.500900
319083,2.645833,39.312500,1.0,0.0,685.0538,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,39.901610,61.836903,95.830780,148.512270,230.154590

In [64]:
df.isna().sum()

latitude                                              0
longitude                                             0
Data-Code_2010                                        0
Data-Quality_Data-Context_2010                     4400
Data-Quality_Mean-Administrative-Unit-Area_2010       0
Data-Quality_Water-Mask_2010                          0
Growth-Rate-End-Year_2010                             0
Growth-Rate-Start-Year_2010                           0
Growth_Rate-Admin-Level_2010                          0
Input-Data-Age_2010                                   0
Input-Data-Level_2010                                 0
Input-Data-Sex_2010                                   0
Input-Data-Year_2010                                  0
Land-Area_2010                                        0
National-Identifier-Grid_2010                         0
Water-Area_2010                                       0
Year-most-recent-Census_2010                          0
Country_Name                                          0
Adjusted-Population-Count_2000                        0
Adjusted-Population-Count_2005                        0
Adjusted-Population-Count_2010                        0
Adjusted-Population-Count_2015                        0
Adjusted-Population-Count_2020                        0
dtype: int64

In [66]:
df['Data-Quality_Data-Context_2010'].unique()

array([ nan,   0., 205.])

In [67]:
df = df.drop(columns=['Data-Quality_Data-Context_2010'],axis=1)

In [68]:
df

,latitude,longitude,Data-Code_2010,Data-Quality_Mean-Administrative-Unit-Area_2010,Data-Quality_Water-Mask_2010,Growth-Rate-End-Year_2010,Growth-Rate-Start-Year_2010,Growth_Rate-Admin-Level_2010,Input-Data-Age_2010,Input-Data-Level_2010,Input-Data-Sex_2010,Input-Data-Year_2010,Land-Area_2010,National-Identifier-Grid_2010,Water-Area_2010,Year-most-recent-Census_2010,Country_Name,Adjusted-Population-Count_2000,Adjusted-Population-Count_2005,Adjusted-Population-Count_2010,Adjusted-Population-Count_2015,Adjusted-Population-Count_2020
0,-46.979167,37.604167,1.0,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,1.405585,710.0,1.530877,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
1,-46.979167,37.645833,1.0,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,4.580090,710.0,1.292559,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
2,-46.979167,37.687500,1.0,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,3.415395,710.0,1.856529,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
3,-46.979167,37.729167,1.0,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,4.529518,710.0,1.343131,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
4,-46.979167,37.770833,1.0,0.0000,1.0,2011.0,2001.0,3.0,6.0,6.0,6.0,2011.0,1.793158,710.0,1.143395,2011.0,South Africa,582.762578,657.280218,756.513679,890.548808,1077.328337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319079,2.645833,39.145833,1.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,30.599740,47.421470,73.490690,113.891050,176.500900
319080,2.645833,39.187500,1.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,30.599740,47.421470,73.490690,113.891060,176.500920
319081,2.645833,39.229167,1.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,30.599740,47.421470,73.490690,113.891060,176.500900
319082,2.645833,39.270833,1.0,842.0747,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,30.599740,47.421470,73.490690,113.891060,176.500900
319083,2.645833,39.312500,1.0,685.0538,2.0,2009.0,1999.0,1.0,2.0,5.0,5.0,2009.0,21.491003,404.0,0.000000,2009.0,Kenya,39.901610,61.836903,95.830780,148.512270,230.154590