In [1]:
import pandas as pd

## Load Data
Load UN population projections wide format (one row per city, with a separate column for the population each year).

In [25]:
df = pd.read_csv('UN_city_pop_projections_wide.csv')

df.head()

,Region,Country Code,Country or area,City Code,City,City Definition,Latitude,Longitude,1950,1951,...,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
0,Africa,12,Algeria,20009,Annaba,Urban Agglomeration,36.900000,7.766670,99.741,102.878,...,385.315,391.520,397.814,404.101,410.307,416.393,422.336,428.151,433.842,439.473
1,Africa,12,Algeria,20011,Batna,City Proper,35.555970,6.174140,13.046,14.306,...,364.859,371.217,377.479,383.613,389.593,395.414,401.077,406.607,412.015,417.363
2,Africa,12,Algeria,20015,Blida,Urban Agglomeration,36.480781,2.831943,33.970,36.092,...,546.792,557.375,567.423,577.010,586.199,595.053,603.617,611.957,620.102,628.153
3,Africa,12,Algeria,20006,El Djazaïr (Algiers),Urban Agglomeration,36.752500,3.041970,516.450,533.740,...,3056.974,3109.831,3162.044,3213.279,3263.293,3312.019,3359.437,3405.751,3451.041,3495.835
4,Africa,12,Algeria,20020,El Djelfa,Urban Agglomeration,34.672790,3.263000,10.450,11.061,...,622.450,636.362,648.976,660.591,671.455,681.764,691.652,701.238,710.582,719.812

## Un-pivot Data
We want to change the format of the file from wide format (pivot table style, one row per city) to long format (new row for each year of population data per city e.g. if a city has 50 years of data, it will have 50 rows, each with the population for a different year. 

We will use the pandas **.melt** method to unpivot the data. To use **melt**, you define what columns you want to remain and be repeated per row, and the method will then unpivot the remaining columns. 

First we need to define the columns we want to repeat in each row:

In [20]:
# Store and print all columns
cols = df.columns.to_list()
cols

['Region',
 'Country Code',
 'Country or area',
 'City Code',
 'City',
 'City Definition',
 'Latitude',
 'Longitude',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 '2025',
 '2026',
 '2027',
 '2028',
 '2029',
 '2030',
 '2031',
 '2032',
 '2033',
 '2034',
 '2035']

We want to keep the first 7 columns, from 'Region' to 'Longitude':

In [14]:
id_cols = cols[0:8]
id_cols

['Region',
 'Country Code',
 'Country or area',
 'City Code',
 'City',
 'City Definition',
 'Latitude',
 'Longitude']

Now we apply the melt method, to get a new population value per row for each year in the dataset.

In [26]:
df = df.melt(id_vars=id_cols, var_name= 'year', value_name = 'population')
df

,Region,Country Code,Country or area,City Code,City,City Definition,Latitude,Longitude,year,population
0,Africa,12,Algeria,20009,Annaba,Urban Agglomeration,36.900000,7.766670,1950,99.741
1,Africa,12,Algeria,20011,Batna,City Proper,35.555970,6.174140,1950,13.046
2,Africa,12,Algeria,20015,Blida,Urban Agglomeration,36.480781,2.831943,1950,33.970
3,Africa,12,Algeria,20006,El Djazaïr (Algiers),Urban Agglomeration,36.752500,3.041970,1950,516.450
4,Africa,12,Algeria,20020,El Djelfa,Urban Agglomeration,34.672790,3.263000,1950,10.450
...,...,...,...,...,...,...,...,...,...,...
19001,Africa,894,Zambia,23277,Lusaka,Urban Agglomeration,-15.413374,28.277148,2035,5182.669
19002,Africa,894,Zambia,23279,Ndola,City Proper,-12.958670,28.636590,2035,925.726
19003,Africa,716,Zimbabwe,22510,Bulawayo,City Proper,-20.150000,28.583330,2035,874.479
19004,Africa,716,Zimbabwe,22511,Chitungwiza,City Proper,-18.012740,31.075550,2035,552.027
19005,Africa,716,Zimbabwe,22513,Harare,City Proper,-17.829350,31.053890,2035,2141.738

## Remove spaces in column names
We will replace any spaces in column names with an underscore.

In [29]:
# Store columns names as list
cols = df.columns
# Loop through list and replace spaces with underscores
cols = [name.replace(' ', '_') for name in cols]

df.columns = cols

df

,Region,Country_Code,Country_or_area,City_Code,City,City_Definition,Latitude,Longitude,year,population
0,Africa,12,Algeria,20009,Annaba,Urban Agglomeration,36.900000,7.766670,1950,99.741
1,Africa,12,Algeria,20011,Batna,City Proper,35.555970,6.174140,1950,13.046
2,Africa,12,Algeria,20015,Blida,Urban Agglomeration,36.480781,2.831943,1950,33.970
3,Africa,12,Algeria,20006,El Djazaïr (Algiers),Urban Agglomeration,36.752500,3.041970,1950,516.450
4,Africa,12,Algeria,20020,El Djelfa,Urban Agglomeration,34.672790,3.263000,1950,10.450
...,...,...,...,...,...,...,...,...,...,...
19001,Africa,894,Zambia,23277,Lusaka,Urban Agglomeration,-15.413374,28.277148,2035,5182.669
19002,Africa,894,Zambia,23279,Ndola,City Proper,-12.958670,28.636590,2035,925.726
19003,Africa,716,Zimbabwe,22510,Bulawayo,City Proper,-20.150000,28.583330,2035,874.479
19004,Africa,716,Zimbabwe,22511,Chitungwiza,City Proper,-18.012740,31.075550,2035,552.027
19005,Africa,716,Zimbabwe,22513,Harare,City Proper,-17.829350,31.053890,2035,2141.738

## Save Data
Save data to file.

In [30]:
df.to_csv('UN_city_pop_projections_long.csv')