In [1]:
import pandas as pd
import numpy as np

In [12]:
# Read the weather dataset 
file_path = r"C:\Users\chimi\Desktop\Python Data Science Projects\Urban Modeling Project\Predictive maintenance Model Data\Weather Dataset\South Africa-Kenya-Nigeria-Tanzania-weather 2017-01-01 to 2023-04-18.csv"

# Read the CSV file into a Pandas DataFrame
weather_df = pd.read_csv(file_path)

In [13]:
weather_df.head(5)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,Tanzania,2017-01-01,32.1,21.0,25.9,31.3,21.0,25.7,16.0,57.4,...,NaN,NaN,NaN,2017-01-01T06:26:27,2017-01-01T18:54:46,0.11,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"63862099999,HTDO"
1,Tanzania,2017-01-02,32.0,21.0,25.3,32.0,21.0,25.3,17.2,63.5,...,NaN,NaN,NaN,2017-01-02T06:26:58,2017-01-02T18:55:11,0.14,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"63862099999,HTDO"
2,Tanzania,2017-01-03,30.4,20.0,22.9,31.1,20.0,23.1,18.6,78.4,...,NaN,NaN,NaN,2017-01-03T06:27:29,2017-01-03T18:55:35,0.18,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"63862099999,HTDO"
3,Tanzania,2017-01-04,32.1,19.0,24.8,34.7,19.0,25.5,19.0,73.6,...,NaN,NaN,NaN,2017-01-04T06:27:59,2017-01-04T18:55:59,0.21,"Rain, Partially cloudy",Partly cloudy throughout the day with early mo...,rain,"63862099999,HTDO"
4,Tanzania,2017-01-05,33.0,20.0,26.6,31.4,20.0,26.1,14.4,52.3,...,NaN,NaN,NaN,2017-01-05T06:28:30,2017-01-05T18:56:22,0.25,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"63862099999,HTDO"

In [14]:
weather_df.shape

(9196, 33)

In [15]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9196 entries, 0 to 9195
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              9196 non-null   object
 1   datetime          9196 non-null   object
 2   tempmax           9050 non-null   float64
 3   tempmin           9050 non-null   float64
 4   temp              9050 non-null   float64
 5   feelslikemax      9050 non-null   float64
 6   feelslikemin      9050 non-null   float64
 7   feelslike         9050 non-null   float64
 8   dew               9050 non-null   float64
 9   humidity          9050 non-null   float64
 10  precip            8946 non-null   float64
 11  precipprob        9050 non-null   float64
 12  precipcover       9196 non-null   float64
 13  preciptype        2563 non-null   object
 14  snow              7355 non-null   float64
 15  snowdepth         7355 non-null   float64
 16  windgust          3790 non-null   float64
 17  windspeed         9196 non-null   float64
 18  winddir           9045 non-null   float64
 19  sealevelpressure  8845 non-null   float64
 20  cloudcover        8919 non-null   float64
 21  visibility        9050 non-null   float64
 22  solarradiation    3321 non-null   float64
 23  solarenergy       3321 non-null   float64
 24  uvindex           3321 non-null   float64
 25  severerisk        1856 non-null   float64
 26  sunrise           9196 non-null   object
 27  sunset            9196 non-null   object
 28  moonphase         9196 non-null   float64
 29  conditions        9050 non-null   object
 30  description       9050 non-null   object
 31  icon              9050 non-null   object
 32  stations          9050 non-null   object
dtypes: float64(24), object(9)
memory usage: 2.3+ MB

In [16]:
weather_df.columns

Index(['name', 'datetime', 'tempmax', 'tempmin', 'temp', 'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'humidity', 'precip', 'precipprob',
       'precipcover', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'sunrise',
       'sunset', 'moonphase', 'conditions', 'description', 'icon', 'stations'],
      dtype='object')

In [17]:
weather_df.dtypes

name                 object
datetime             object
tempmax             float64
tempmin             float64
temp                float64
feelslikemax        float64
feelslikemin        float64
feelslike           float64
dew                 float64
humidity            float64
precip              float64
precipprob          float64
precipcover         float64
preciptype           object
snow                float64
snowdepth           float64
windgust            float64
windspeed           float64
winddir             float64
sealevelpressure    float64
cloudcover          float64
visibility          float64
solarradiation      float64
solarenergy         float64
uvindex             float64
severerisk          float64
sunrise              object
sunset               object
moonphase           float64
conditions           object
description          object
icon                 object
stations             object
dtype: object

In [20]:
# Drop some of the columns
weather_df.drop(columns=['precip','preciptype','snow','snowdepth','windgust',
                       'solarradiation','solarenergy','uvindex','severerisk','sunset','sunrise',
                       'moonphase','description','icon','stations'],inplace=True)

In [25]:
 # Rename the column
weather_df.rename(columns={'name':'countries'},inplace=True)

In [26]:
weather_df.head(5)

,countries,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precipprob,precipcover,windspeed,winddir,sealevelpressure,cloudcover,visibility,conditions
0,Tanzania,2017-01-01,32.1,21.0,25.9,31.3,21.0,25.7,16.0,57.4,0.0,0.00,29.5,90.4,1015.3,36.9,16.5,Partially cloudy
1,Tanzania,2017-01-02,32.0,21.0,25.3,32.0,21.0,25.3,17.2,63.5,100.0,4.17,22.3,80.4,1016.2,49.8,16.1,"Rain, Partially cloudy"
2,Tanzania,2017-01-03,30.4,20.0,22.9,31.1,20.0,23.1,18.6,78.4,100.0,16.67,37.1,294.0,1017.3,72.7,15.0,"Rain, Partially cloudy"
3,Tanzania,2017-01-04,32.1,19.0,24.8,34.7,19.0,25.5,19.0,73.6,100.0,4.17,18.4,79.8,1016.2,34.6,17.2,"Rain, Partially cloudy"
4,Tanzania,2017-01-05,33.0,20.0,26.6,31.4,20.0,26.1,14.4,52.3,0.0,0.00,29.5,90.4,1014.9,28.9,16.5,Partially cloudy

In [27]:
# Read the brt data
file_path = r"C:\Users\chimi\Desktop\Python Data Science Projects\Urban Modeling Project\Predictive maintenance Model Data\Public Transport\brtdata-africa_processed.csv"

# Read the CSV file into a Pandas DataFrame
brt_df = pd.read_csv(file_path)

In [28]:
brt_df.head(5)

,Unnamed: 0,GDP per capita (US$),"Population, city","Population, metro area","Population density, metropolitan area",Modal split % public transport,Modal split % private transport,Modal split % non motorized,System name,Corridors,...,Express services,Speed limit (km/h),"Real time information, corridor",Physically integrated feeders,"Total cost per kilometer, corridor (US$ million per km)","Planning cost, corridor (US$ million)","Infrastructure cost per kilometer, corridor (US$ million per km)",Passengers per Day,Number of Corridors,countries
0,1,2006.8,"2,750,547","5,183,657","4,509",46.0,13.0,40.0,MRTS,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,Kenya
1,2,2097.1,"22,583,305","22,583,305","11,009",71.5,15.0,13.5,Lagos BRT,1,...,NaN,NaN,NaN,NaN,1.7,NaN,1.70,"200,000",1,Nigeria
2,3,5655.9,"957,441","4,434,827","2,696",32.0,37.0,31.0,Rea Vaya,2,...,No,NaN,All,Yes,NaN,4.2,13.60,"42,000",2,South Africa
3,4,5655.9,"957,441","4,434,827","2,696",32.0,37.0,31.0,Rea Vaya,2,...,No,NaN,All,Yes,NaN,NaN,9.69,"42,000",2,South Africa
4,5,5655.9,"3,740,026","3,740,026","1,530",43.7,47.3,9.0,MyCiti,2,...,Yes,NaN,All,NaN,NaN,NaN,NaN,"66,178",2,South Africa

In [29]:
brt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 95 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Unnamed: 0                                                        9 non-null      int64
 1   GDP per capita (US$)                                              9 non-null      float64
 2   Population, city                                                  9 non-null      object
 3   Population, metro area                                            9 non-null      object
 4   Population density, metropolitan area                             9 non-null      object
 5   Modal split % public transport                                    9 non-null      float64
 6   Modal split % private transport                                   9 non-null      float64
 7   Modal split % non motorized                                       9 non-null      float64
 8   System name                                                       9 non-null      object
 9   Corridors                                                         9 non-null      int64
 10  Year system commenced                                             9 non-null      int64
 11  Transit agency                                                    7 non-null      object
 12  Standard fare (US$)                                               9 non-null      float64
 13  Annual fare revenue (US$ millions)                                8 non-null      object
 14  Fare integration within the system                                8 non-null      object
 15  Citywide fare integration (other modes)                           1 non-null      object
 16  Integration terminals                                             4 non-null      float64
 17  Transfer stations                                                 1 non-null      float64
 18  Peak load (passengers per hour per direction)                     3 non-null      object
 19  Daily demand (passengers per day)                                 8 non-null      object
 20  Annual demand (passengers per year)                               8 non-null      object
 21  Capital productivity (boardings per bus per day)                  3 non-null      float64
 22  Operational productivity (IPK)                                    2 non-null      float64
 23  Operations control center                                         5 non-null      object
 24  Trunk lines                                                       7 non-null      float64
 25  Feeder routes                                                     7 non-null      float64
 26  Depots                                                            4 non-null      float64
 27  System length (km)                                                9 non-null      float64
 28  Position of with-flow lanes                                       5 non-null      object
 29  Position of bus doors                                             8 non-null      object
 30  Lane material on running ways                                     5 non-null      object
 31  Lane material at stations                                         5 non-null      object
 32  Stations                                                          8 non-null      float64
 33  Station spacing (m)                                               8 non-null      object
 34  Pre-board fare collection                                         7 non-null      object
 35  Overtaking lanes                                                  5 non-null      object
 36  Station boarding level                                            7 non-null      object
 37  Real time information                                             6 non-null      object
 38  Peak frequency (buses per hour)                                   5 non-null      float64
 39  Operating speed                                                   3 non-null      float64
 40  Total fleet                                                       8 non-null      float64
 41  Fleet, standard buses                                             2 non-null      float64
 42  Propulsion, standard buses                                        2 non-null      object
 43  Fuel type, standard buses                                         3 non-null      object
 44  Fleet, articulated buses                                          1 non-null      float64
 45  Propulsion, articulated buses                                     3 non-null      object
 46  Fuel type, articulated buses                                      2 non-null      object
 47  Fleet, bi-articulated buses                                       4 non-null      float64
 48  Fleet, double-decker buses                                        4 non-null      float64
 49  Typical fuel type                                                 7 non-null      object
 50  City's diesel sulfur content (ppm)                                3 non-null      object
 51  Total cost per kilometer (US$ million per km)                     1 non-null      float64
 52  Infrastructure cost per kilometer (US$ million per km)            4 non-null      float64
 53  Brand and logo                                                    7 non-null      object
 54  Unique bus livery                                                 7 non-null      object
 55  cities                                                            9 non-null      object
 56  Corridor Name                                                     9 non-null      object
 57  Corridor classification                                           5 non-null      object
 58  BRT Standard                                                      6 non-null      object
 59  Year corridor commenced                                           9 non-null      int64
 60  Corridor service                                                  7 non-null      object
 61  Peak load, corridor (passengers per hour per direction)           1 non-null      object
 62  Daily demand, corridor (passengers per day)                       4 non-null      object
 63  Trunk lines, corridor                                             5 non-null      float64
 64  Corridor length (km)                                              9 non-null      float64
 65  Length of segregated lanes, corridor (km)                         4 non-null      float64
 66  Length of segregated counterflow lanes, corridor (km)             3 non-null      float64
 67  Length of exclusive lanes, corridor (km)                          3 non-null      float64
 68  Mixed traffic with-flow length, corridor (km)                     2 non-null      float64
 69  Position of with-flow lanes, corridor                             5 non-null      object
 70  Position of bus doors, corridor                                   6 non-null      object
 71  Lane material on running ways, corridor                           5 non-null      object
 72  Lane material at stations, corridor                               3 non-null      object
 73  Grade-separated intersections, corridor                           5 non-null      object
 74  Fixed signal priority                                             2 non-null      object
 75  Dynamic signal priority                                           2 non-null      object
 76  Stations, corridor                                                8 non-null      float64
 77  Station spacing. corridor (m)                                     6 non-null      object
 78  Enhanced stations                                                 6 non-null      object
 79  Pre-board fare collection, corridor                               5 non-null      object
 80  Overtaking lanes, corridor                                        2 non-null      object
 81  Station boarding level, corridor                                  5 non-null      object
 82  Type of bus guidance                                              2 non-null      object
 83  Peak frequency, corridor (buses per hour per direction)           5 non-null      float64
 84  Operating speed, corridor                                         2 non-null      float64
 85  Express services                                                  4 non-null      object
 86  Speed limit (km/h)                                                1 non-null      float64
 87  Real time information, corridor                                   4 non-null      object
 88  Physically integrated feeders                                     3 non-null      object
 89  Total cost per kilometer, corridor (US$ million per km)           1 non-null      float64
 90  Planning cost, corridor (US$ million)                             1 non-null      float64
 91  Infrastructure cost per kilometer, corridor (US$ million per km)  4 non-null      float64
 92  Passengers per Day                                                9 non-null      object
 93  Number of Corridors                                               9 non-null      int64
 94  countries                                                         9 non-null      object
dtypes: float64(36), int64(5), object(54)
memory usage: 6.8+ KB

In [30]:
brt_df.columns

Index(['Unnamed: 0', 'GDP per capita (US$)', 'Population, city',
       'Population, metro area', 'Population density, metropolitan area',
       'Modal split % public transport', 'Modal split % private transport',
       'Modal split % non motorized', 'System name', 'Corridors',
       'Year system commenced', 'Transit agency', 'Standard fare (US$)',
       'Annual fare revenue (US$ millions)',
       'Fare integration within the system',
       'Citywide fare integration (other modes)', 'Integration terminals',
       'Transfer stations', 'Peak load (passengers per hour per direction)',
       'Daily demand (passengers per day)',
       'Annual demand (passengers per year)',
       'Capital productivity (boardings per bus per day)',
       'Operational productivity (IPK)', 'Operations control center',
       'Trunk lines', 'Feeder routes', 'Depots', 'System length (km)',
       'Position of with-flow lanes', 'Position of bus doors',
       'Lane material on running ways', 'Lane material at stations',
       'Stations', 'Station spacing (m)', 'Pre-board fare collection',
       'Overtaking lanes', 'Station boarding level', 'Real time information',
       'Peak frequency (buses per hour)', 'Operating speed', 'Total fleet',
       'Fleet, standard buses', 'Propulsion, standard buses',
       'Fuel type, standard buses', 'Fleet, articulated buses',
       'Propulsion, articulated buses', 'Fuel type, articulated buses',
       'Fleet, bi-articulated buses', 'Fleet, double-decker buses',
       'Typical fuel type', 'City's diesel sulfur content (ppm)',
       'Total cost per kilometer (US$ million per km)',
       'Infrastructure cost per kilometer (US$ million per km)',
       'Brand and logo', 'Unique bus livery', 'cities', 'Corridor Name',
       'Corridor classification', 'BRT Standard', 'Year corridor commenced',
       'Corridor service',
       'Peak load, corridor (passengers per hour per direction)',
       'Daily demand, corridor (passengers per day)', 'Trunk lines, corridor',
       'Corridor length (km)', 'Length of segregated lanes, corridor (km)',
       'Length of segregated counterflow lanes, corridor (km)',
       'Length of exclusive lanes, corridor (km)',
       'Mixed traffic with-flow length, corridor (km)',
       'Position of with-flow lanes, corridor',
       'Position of bus doors, corridor',
       'Lane material on running ways, corridor',
       'Lane material at stations, corridor',
       'Grade-separated intersections, corridor', 'Fixed signal priority',
       'Dynamic signal priority', 'Stations, corridor',
       'Station spacing. corridor (m)', 'Enhanced stations',
       'Pre-board fare collection, corridor', 'Overtaking lanes, corridor',
       'Station boarding level, corridor', 'Type of bus guidance',
       'Peak frequency, corridor (buses per hour per direction)',
       'Operating speed, corridor', 'Express services', 'Speed limit (km/h)',
       'Real time information, corridor', 'Physically integrated feeders',
       'Total cost per kilometer, corridor (US$ million per km)',
       'Planning cost, corridor (US$ million)',
       'Infrastructure cost per kilometer, corridor (US$ million per km)',
       'Passengers per Day', 'Number of Corridors', 'countries'],
      dtype='object')

In [33]:
brt_df.isnull().sum()

Unnamed: 0                                                          0
GDP per capita (US$)                                                0
Population, city                                                    0
Population, metro area                                              0
Population density, metropolitan area                               0
                                                                   ..
Planning cost, corridor (US$ million)                               8
Infrastructure cost per kilometer, corridor (US$ million per km)    5
Passengers per Day                                                  0
Number of Corridors                                                 0
countries                                                           0
Length: 95, dtype: int64

In [35]:
# Drop the unnamed column
brt_df.drop(columns=['Unnamed: 0'],inplace=True)

In [39]:
# Merge the dfs
final_df = pd.merge(weather_df, brt_df, on='countries', how='left')

In [40]:
final_df.to_csv('transportation_data.csv',index=False)